:root {
    --gray: #7d93a5;
    --pink: #d78693;
    --green: #bcd786;
    --background: #fcf8ef;
}

.wedding .footer {
   background-color: var(--pink);
   padding-top: 40px;
} 
.wedding .footer .attribution {
    color: black;
    text-decoration: none;
}
.wedding .footer .attribution:hover {
    text-decoration: underline;
}
.wedding .footer :is(h1, h2, h3, h4) {
    font-family: "DM Serif Text", serif;
}
