:root {
    --gray: #7d93a5;
    --green: #bfc994;
    --background: #fcf8ef;
}

.wedding .footer {
   /* background: var(--green); */
   background-color: #7D93A5;
   padding-top:100px;
}
.wedding .footer .attribution {
    color: wheat;
}
.wedding .footer .attribution:hover {
    color: blueviolet;
}
