@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

:root {
   --gray: #7d93a5;
   --green: #bfc994;
   --background: #fcf8ef;
}
.wedding{
  background: var(--background);
}
.title {
   margin-top: 100px;
   margin-bottom: 100px;
   padding:20px;
}
.title h1 {
   font-family: "Bonheur Royale", cursive;
   font-size: 8em;
   color: var(--gray);
}
.photo-layer {
   background-color: #bfc994;
}
.photo-layer .photos {
   justify-content: center;
}
.photo-layer .photo-container {
   max-width:1200px;
}
.photo-layer ul {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   padding-left: unset; /* i really dunno */
}
.photo-layer li {
   height: 17vh;
   flex-grow: 1;
   padding: 5px;
}
.photo-layer img {
   max-height: 100%;
   min-width: 100%;
   object-fit: cover;
   vertical-align: bottom;
   border-radius: 15px;
}
.photo-layer .photos {
   padding-bottom:50px;
   padding-top:50px;
}
.rsvp-home h2 {
   font-family: "DM Serif Text", serif;
   font-size: 5em;
   color: var(--gray);
}
.rsvp-home .form-container {
   width: 400px;
   max-width: 100%;
   margin-bottom: 100px;
}

/* mobile specific */
@media screen and (max-width: 480px) {
   .title h1 {
      font-size: 4em;
   }
}