
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Slackey&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');


:root {
    --gray: #7d93a5;
    --green: #bfc994;
    --background: #fcf8ef;
}

.rsvp {
    margin-top: 100px;
    margin-bottom: 300px;
}

.rsvp h2 {
    font-family: "DM Serif Text", serif;
    font-size: 5em;
    color: var(--gray);
}

.rsvp .form-container {
    width: 400px;
    max-width: 100%;
}